@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');

:root {
    --clr-silver-hvr: hsl(197, 33%, 89%);
    --clr-silver: hsl(198, 23%, 72%);
    --clr-yellow-hvr: hsl(39, 100%, 69%);
    --clr-yellow: hsl(39, 88%, 58%);
    --clr-blue-hvr: hsl(178, 75%, 65%);
    --clr-blue: hsl(178, 60%, 48%);
    --clr-semi-dark: hsl(199, 35%, 19%);
    --clr-dark: hsl(202, 32%, 15%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--clr-dark);
    width: 100vw;
    height: 100vh;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.main-container {
    display: grid;
    width: 87%;
    max-width: 460px;
    gap: 2rem;
}



.main-container__header {
    margin: 0 auto;
}

.change-player {
    display: flex;
}

.player-container > img{
    width: 32px;
    height: 32px;
}

.player-container {
    padding: 0.6rem 3.1rem;
    border-radius: 10px;
}

.active {
   background-color: var(--clr-silver);   
}




.buttons-container {
    display: flex;
    flex-direction: column;
}

.control-panel {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-semi-dark);
    border-radius: 15px;
    box-shadow: inset 0px -8px 0px #10212A;
    align-items: center;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    gap: 1.5rem;
}

.button {    
    border-radius: 15px;
    min-height: 56px;
    color: var(--clr-dark);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
}

.yellow {
    background-color: var(--clr-yellow);
    box-shadow: inset 0px -8px 0px #CC8B13;
    margin-bottom: 1rem;
}

.blue {
    background-color: var(--clr-blue);
    box-shadow: inset 0px -8px 0px #118C87;
}

.grid-container {
    display: none;
    grid-template-columns:repeat(3, minmax(96px, 1fr));
    grid-template-rows:repeat(4, minmax(96px, 1fr));
    /* aspect-ratio: 1; */
    gap: 20px;
}

.header-grid {
    display: grid;
    grid-template-columns:repeat(3, minmax(96px, 1fr));
    height: 50px;
    align-items: center;
} 

.restart-button {
    display: flex;
    justify-self: flex-end;
    background-color: var(--clr-silver);
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.restart-button > img {
    margin: auto auto;
}

.turn-display {
    display: flex;
    
    justify-self: center;
    width: 100%;
    justify-content: space-evenly;
}
.turn-display > img {
    width: 20px;
    height: 20px;
}

.grid {    
    background-color: var(--clr-semi-dark);
    border-radius: 15px;
    display: flex;
}

.marks {
    margin: auto auto;
    height: 40px;
    width: 40px;
}

.score-container {
    height: 40px;
    background-color: #118C87;
}